# FINAL PROJECT

Name: Moses Musyoki

Course: Data Science Part Time

# Overview

My company is interested in purchasing airplanes for commercial and private use. My task is to find the aircraft with the lowest risk for the company. My findings will derive insights that the head of the new aviation division can use to decide which aircraft to purchase.

## BS understanding i.e background research.

The task is to find the factors to consider to purchace an aircraft that has low risk to accidents.

Questions that may arise are:

1. What is the general risk of owning an aircraft ?

2. How many engines incease safety ?

3. What make of the airplane should the company consider ?

4. Which engine type should the airplane have ?

5. What is the distribution of aircraft damage in general ?

# Data Understanding

## Problem statement

The task is to find factors that lead to low risk when purchasing

an airplane.

## Metric of Success

My project will be successful if I find the factors to consider

when buying an aircraft for my company.

## Loading Packages

I load the packages I will be using to analyse and understand the data.

I will be using Python version 3.8.5 to analyse the data.

Packages used are:

1. Pandas

2. Numpy

3. Matplotlib

4. Seaborn

In [7]:
# Import packages to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [8]:
aviation_data = pd.read_csv("data/AviationData.csv", encoding='latin-1', low_memory=False)
aviation_data.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

I then create a copy of the dataset that I will use to 

make changes keeping the original dataset intact

In [9]:
# create a copy of the dataset

aviation_data_copy = aviation_data.copy()
aviation_data_copy.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [10]:
# Now that I have a copy I check for the shape of the dataset

aviation_data_copy.shape

(88889, 31)

The dataset has 88,889 rows and 31 columns.

In [11]:
# Check also the tail to see if it aligns well with the head

aviation_data_copy.tail(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

# Data Cleaning

This is where we work on our dataset to ensure it is good to use for analysis.

## Things to do:

Drop columns that I will not use.

Check for any null values and decide whether to drop or replace with value.

Check for any duplicates in the data and remove them.

Change the names of columns to ensure uniformity.

Export the cleaned dataset.

Answer the business questions by using visualizations.

In [12]:
#drop columns not used in my analysis
columns = ['Aircraft.Category','Latitude', 'Longitude', 'Airport.Code', 'Airport.Name',
           'FAR.Description', 'Injury.Severity', 'Model', 'Schedule', 'Accident.Number' ,
            'Registration.Number', 'Air.carrier', 'Broad.phase.of.flight',
              'Publication.Date', 'Report.Status', 'Event.Id',
              'Investigation.Type', 'Weather.Condition'
            ]

aviation_data_new = aviation_data_copy.drop(columns= columns)

In [14]:
# Check for the information about our data
aviation_data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Date              88889 non-null  object
 1   Location                88837 non-null  object
 2   Country                 88663 non-null  object
 3   Aircraft.damage         85695 non-null  object
 4   Make                    88826 non-null  object
 5   Amateur.Built           88787 non-null  object
 6   Number.of.Engines       82805 non-null  float64
 7   Engine.Type             81812 non-null  object
 8   Purpose.of.flight       82697 non-null  object
 9   Total.Fatal.Injuries    77488 non-null  float64
 10  Total.Serious.Injuries  76379 non-null  float64
 11  Total.Minor.Injuries    76956 non-null  float64
 12  Total.Uninjured         82977 non-null  float64
dtypes: float64(5), object(8)
memory usage: 8.8+ MB

We have 88,889 rows and 13 columns.

Five of the columns have a float type and 8 columns have object type.

In [15]:
# perform a brief summary of some columns
print(aviation_data_new['Country'].value_counts())
print()

print(aviation_data_new['Aircraft.damage'].value_counts())
print()

print(aviation_data_new['Make'].value_counts())
print()

United States     82248
Brazil              374
Canada              359
Mexico              358
United Kingdom      344
                  ...
Belarus               1
Seychelles            1
Wolseley              1
Pacific Ocean         1
Scotland              1
Name: Country, Length: 219, dtype: int64

Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: Aircraft.damage, dtype: int64

Cessna         22227
Piper          12029
CESSNA          4922
Beech           4330
PIPER           2841
               ...
Ridgway            1
WOLFE              1
Otero-pitts        1
Fabre              1
Tubb               1
Name: Make, Length: 8237, dtype: int64

No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
None                  19
Geared Turbofan       12
Electric              10
NONE                   2
LR                     2
Hybrid Rocket          1
UNK                    1
Name: Engine.Type, dtype: int64

Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [16]:
print(aviation_data_new['Amateur.Built'].value_counts())
print()

print(aviation_data_new['Number.of.Engines'].value_counts())
print()

print(aviation_data_new['Engine.Type'].value_counts())
print()

No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
None                  19
Geared Turbofan       12
Electric              10
NONE                   2
LR                     2
Hybrid Rocket          1
UNK                    1
Name: Engine.Type, dtype: int64

In [17]:
print(aviation_data_new['Purpose.of.flight'].value_counts())
print()

Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

From the brief summary, it can be seen that United states has more data point,

so I create a new dataframe with only United states

In [18]:
# choose only data points where US is the country
aviation_data_new = aviation_data_new[aviation_data_new['Country'] == 'United States']
aviation_data_new.reset_index(drop=True, inplace=True)
aviation_data_new.head()

,Event.Date,Location,Country,Aircraft.damage,Make,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,1948-10-24,"MOOSE CREEK, ID",United States,Destroyed,Stinson,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
1,1962-07-19,"BRIDGEPORT, CA",United States,Destroyed,Piper,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0
2,1974-08-30,"Saltville, VA",United States,Destroyed,Cessna,No,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN
3,1977-06-19,"EUREKA, CA",United States,Destroyed,Rockwell,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
4,1979-08-02,"Canton, OH",United States,Destroyed,Cessna,No,NaN,NaN,Personal,1.0,2.0,NaN,0.0

In [19]:
# check for the shape of the new dataframe
aviation_data_new.shape

(82248, 13)

## Checking for null values

In [20]:
# check for the null values
aviation_data_new.isna().sum()

Event.Date                    0
Location                     11
Country                       0
Aircraft.damage            1979
Make                         21
Amateur.Built                21
Number.of.Engines          1875
Engine.Type                3023
Purpose.of.flight          2429
Total.Fatal.Injuries      10654
Total.Serious.Injuries    11375
Total.Minor.Injuries      10729
Total.Uninjured            5005
dtype: int64

I change the event date to datetime object so as to get the year.

We have null values in the data. I impute the null values in most of the columns by replacing with unknown, 

then remove null values in location.

Some columns also have identical names but with different capitalisations. I change that to title case.

In [21]:
# Change event date to datetime

aviation_data_new['Event.Date'] = pd.to_datetime(aviation_data_new['Event.Date'], format='%Y-%m-%d')

aviation_data_new['Year'] = aviation_data_new['Event.Date'].dt.year

aviation_data_new.head(2)

,Event.Date,Location,Country,Aircraft.damage,Make,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Year
0,1948-10-24,"MOOSE CREEK, ID",United States,Destroyed,Stinson,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,1948
1,1962-07-19,"BRIDGEPORT, CA",United States,Destroyed,Piper,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,1962

In [22]:
# fill nulls for aircraft damage with unknown 
aviation_data_new['Aircraft.damage'].fillna('UNKNOWN', inplace=True)
aviation_data_new['Aircraft.damage'].replace({'Unknown': 'UNKNOWN'}, inplace=True)

# convert names of make to title case so as to have unique names the impute nulls with unknown
aviation_data_new['Make'] = aviation_data_new['Make'].str.title()
aviation_data_new['Make'].fillna('UNKNOWN', inplace=True)

# fill nulls for built with unknown 
aviation_data_new['Amateur.Built'].fillna('UNKNOWN', inplace=True)

# replace where we have o engines with null value then impute with unknown
aviation_data_new['Number.of.Engines'].replace({0: np.nan}, inplace=True)
aviation_data_new['Number.of.Engines'].fillna('UNKNOWN', inplace=True)

# impute the nulls for engine type with unknown and any none's with unknown too 
aviation_data_new['Engine.Type'].replace({'Unknown': 'UNKNOWN', 'UNK': 'UNKNOWN', 'None': 'UNKNOWN', 'NONE': 'UNKNOWN'}, inplace=True)
aviation_data_new['Engine.Type'].fillna('UNKNOWN', inplace=True)

# fill nulls with unknown for purpose of flight
aviation_data_new['Purpose.of.flight'].fillna('UNKNOWN', inplace=True)
aviation_data_new['Purpose.of.flight'].replace({'Unknown': 'UNKNOWN'}, inplace=True)

# fill the numeric columns for injuries with zeroes
aviation_data_new['Total.Fatal.Injuries'].fillna(0, inplace=True)
aviation_data_new['Total.Serious.Injuries'].fillna(0, inplace=True)
aviation_data_new['Total.Minor.Injuries'].fillna(0, inplace=True)
aviation_data_new['Total.Uninjured'].fillna(0, inplace=True)

In [23]:
# check again for nulls 
aviation_data_new.isna().sum()

Event.Date                 0
Location                  11
Country                    0
Aircraft.damage            0
Make                       0
Amateur.Built              0
Number.of.Engines          0
Engine.Type                0
Purpose.of.flight          0
Total.Fatal.Injuries       0
Total.Serious.Injuries     0
Total.Minor.Injuries       0
Total.Uninjured            0
Year                       0
dtype: int64

We have nulls in location only. We now drop the nulls.

In [24]:
# drop all nulls now
aviation_data_new.dropna(inplace=True)
aviation_data_new.isna().sum()

Event.Date                0
Location                  0
Country                   0
Aircraft.damage           0
Make                      0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
Purpose.of.flight         0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Year                      0
dtype: int64

In [25]:
# check for shape again
aviation_data_new.shape

(82237, 14)

We use data form 1982 as most of the data before that has missing information

In [27]:
aviation_data_new = aviation_data_new[aviation_data_new['Year'] >= 1982]
aviation_data_new.reset_index(drop=True, inplace=True)
aviation_data_new.shape

(82230, 14)

In [29]:
# check the head of the data to see the changes
aviation_data_new.head(2)

,Event.Date,Location,Country,Aircraft.damage,Make,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Year
0,1982-01-01,"PULLMAN, WA",United States,Substantial,Cessna,No,1,Reciprocating,Personal,0.0,0.0,0.0,2.0,1982
1,1982-01-01,"EAST HANOVER, NJ",United States,Substantial,Cessna,No,2,Reciprocating,Business,0.0,0.0,0.0,2.0,1982

In [30]:
# change the column names for uniformity

new_cols = {'Aircraft.damage': 'Aircraft_damage', 'Event.Date': 'Event_date', 'Amateur.Built': 'Amateur_built',
            'Number.of.Engines': 'Number_of_engines', 'Engine.Type': 'Engine_type', 'Purpose.of.flight': 'Purpose',
             'Total.Fatal.Injuries': 'Fatal_injuries', 'Total.Serious.Injuries': 'Serious_injuries', 
              'Total.Minor.Injuries': 'Minor_injuries', 'Total.Uninjured': 'Uninjured' }

aviation_data_new.rename(columns=new_cols, inplace=True)

In [31]:
# check for duplicates in the dataset
aviation_data_new.duplicated().sum()

106

In [33]:
# drop the duplicates
aviation_data_new.drop_duplicates(inplace=True)

In [34]:
aviation_data_new.shape

(82124, 14)

In [35]:
# create a column for survival rate

injuries = aviation_data_new['Serious_injuries'] + aviation_data_new['Minor_injuries'] + aviation_data_new['Uninjured']
total = aviation_data_new['Serious_injuries'] + aviation_data_new['Minor_injuries'] + aviation_data_new['Uninjured'] + aviation_data_new['Fatal_injuries']

aviation_data_new['Survival_rate'] = injuries / total

In [36]:
# create a column for the city and the code
# we split the location column by the "," sign
aviation_data_new['City'] = aviation_data_new['Location'].str.split(',').str[0]
aviation_data_new['Code'] = aviation_data_new['Location'].str.split(',').str[1]
aviation_data_new.head(2)

,Event_date,Location,Country,Aircraft_damage,Make,Amateur_built,Number_of_engines,Engine_type,Purpose,Fatal_injuries,Serious_injuries,Minor_injuries,Uninjured,Year,Survival_rate,City,Code
0,1982-01-01,"PULLMAN, WA",United States,Substantial,Cessna,No,1,Reciprocating,Personal,0.0,0.0,0.0,2.0,1982,1.0,PULLMAN,WA
1,1982-01-01,"EAST HANOVER, NJ",United States,Substantial,Cessna,No,2,Reciprocating,Business,0.0,0.0,0.0,2.0,1982,1.0,EAST HANOVER,NJ

In [37]:
aviation_data_new['Survival_rate'].isna().sum()

163

In [38]:
# Drop nulls in survival rate
aviation_data_new.dropna(inplace=True)
aviation_data_new.shape

(81961, 17)